@charset 'utf-8';

@import 'settings';
$header-font-family: 'Fjalla One', sans-serif;
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;

#header {
    margin: 48px 0 64px;
}

.section-title {
    text-transform: uppercase;
    position: relative;

    span {
        display: inline-block;
        background: #fff;
        padding-right: 10px;
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        right: 0;
        background: $light-gray;
    }
}

.main .row + .row {
    margin-top: 48px;
}