---
layout: review
---
<div id="header">
    <div class="row">
        <div class="large-12 columns">
            <h1>Bittersweet Creative - Client Review</h1>
        </div>
    </div>
</div>

<div class="main">

    <div class="row">
        <div class="medium-3 columns">
            <h3 class="section-title"><span>Landing Pages</span></h3>
        </div>
        <div class="medium-9 columns">
            <ul>
                <li><a href="{{root}}home.html">Home</a></li>
                <li><a href="#">Page 1</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="medium-3 columns">
            <h3 class="section-title"><span>Detail Pages</span></h3>
        </div>
        <div class="medium-9 columns">
            <ul>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </div>

</div>