<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{root}}assets/css/site-foundation.css">
        <link rel="stylesheet" href="{{root}}assets/css/site.css">
    </head>
    <body>

        {{> header }}

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        <main>
        {{> body}}
        </main>

        {{> footer }}

        <script src="{{root}}assets/js/site-foundation.js"></script>
        <script src="{{root}}assets/js/site.js"></script>
    </body>
</html>